<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This website is created by Nazmur. It uses data from mapbox.com and darksky.net.</p>
        <img class="portrait" src="/img/me.png" />
        {{>footer}}
       
    </body>
</html>